<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 会员账户类型管理表ms_account_type相关操作  -->
<mapper namespace="MSAccountTypeMapper">

<!--   查询财务调账相关的账户类型信息  -->
  <select id="getAccountTypeList" resultType="com.meiduimall.service.account.model.MSAccountType">
   SELECT id, 
   account_type_name accountTypeName, 
   account_type_no accountTypeNo
   FROM ms_account_type 
   WHERE account_type_no IN ('CWTZ1','CWTZ2','CWTZ3')
  </select>
  
<!--   根据条件查询账户类型信息  -->
  <select id="getWalletInfoByCondition" parameterType="java.util.Map" resultType="com.meiduimall.service.account.model.MSAccountType">
   SELECT id, 
   wallet_name walletName, 
   wallet_no walletNo, 
   allow_withdraw allowWithdraw, 
   need_poundage needPoundage, 
   allow_refund allowRefund, 
   poundage_scale poundageScale, 
   account_type accountType, 
   withdraw_level withdrawLevel, 
   spend_level spendLevel, 
   create_date createDate,
   update_date updateDate, 
   update_man updateMan, 
   remark 
   FROM ms_account_type m 
   WHERE 1=1
   <if test="walletNo != null and walletNo != ''">
   AND m.wallet_no=#{walletNo}
   </if>
  </select>
  
  <!--   根据账户类型编号查询当前序列号  -->
  <select id="getSequenceByAccountTypeNo" parameterType="java.lang.String" resultType="java.lang.Long">
  SELECT m.account_no_sequence 
  FROM ms_account_type m 
  WHERE m.account_type_no=#{accountTypeNo}
  </select>
  
    <!--   根据账户类型编号更新当前序列号  -->
  <update id="updateSequenceByAccountTypeNo" parameterType="java.util.Map">
  UPDATE  ms_account_type m
  SET  m.account_no_sequence=#{newSequence}
  WHERE m.account_type_no=#{accountTypeNo}
  </update>

  </mapper>