<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 会员按业务类型账户表ms_account_by_wallet_type相关操作 -->
<mapper namespace="MSAccountByWalletTypeMapper">

  <!-- 查询会员指定类型的账户信息-->
  <select id="getAccountByWalletTypeInfoByNoAndMemId" parameterType="java.util.Map" resultType="com.meiduimall.service.account.model.MSAccountByWalletType">
   SELECT 
   a.id AS id,
   a.mem_id AS memId,
   a.wallet_type AS walletType,
   a.balance AS id,
   a.balance_encrypt AS balanceEncrypt,
   a.freeze_balance AS freezeBalance,
   a.freeze_balance_encrypt AS freezeBalanceEncrypt,
   a.account_status AS accountStatus,
   a.account_status_encrypt AS accountStatusEncrypt,
   a.create_date AS createDate,
   a.update_date AS updateDate,
   a.update_man AS updateMan,
   a.remark AS remark
   FROM ms_account_by_wallet_type a 
   INNER JOIN ms_wallet_type b 
   ON a.wallet_type=b.id
   WHERE 1=1
   AND a.mem_id=#{memId} 
   AND b.wallet_no=#{walletNo}
  </select>
  
   <!-- 插入当前会员指定类型的账户信息 -->
  <insert id="insertAccoutByWalletType" parameterType="com.meiduimall.service.account.model.MSAccountByWalletType" >
  INSERT INTO ms_account_by_wallet_type 
  VALUES (
  #{id},
  #{memId},
  #{walletType},
  #{balance},
  #{balanceEncrypt},
  #{freezeBalance},
  #{freezeBalanceEncrypt},
  #{account_status},
  #{accountStatusEncrypt},
  #{createDate},
  #{updateDate},
  #{updateMan},
  #{remark}
  )
  </insert>
  
    <!-- 更新当前会员指定类型的账户信息 -->
  <insert id="insertAccoutByWalletType" parameterType="java.util.Map" >
    UPDATE ms_account_by_wallet_type a
    INNER JOIN ms_wallet_type b
    ON a.wallet_type=b.id
    SET 
    a.balance=#{balance},
    a.balance_encrypt=#{balanceEncrypt},
    a.freeze_balance=#{freezeBalance},
    a.freeze_balance_encrypt=#{freezeBalanceEncrypt},
    a.update_date=#{updateDate},
    a.update_man=#{updateMan}
    WHERE 1=1
    AND a.mem_id=#{memId}
    AND b.wallet_no=#{walletNo}
  </insert>

</mapper>