<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 账户调增调减表ms_account_revise_detail相关操作 -->
<mapper namespace="MSAccountReviseDetailMapper" >
  <resultMap id="BaseResultMap" type="com.meiduimall.service.account.model.AccountReviseDetail" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
    <result column="revise_type" property="reviseType" jdbcType="VARCHAR" />
    <result column="before_balance" property="beforeBalance" jdbcType="DECIMAL" />
    <result column="revise_balance" property="reviseBalance" jdbcType="DECIMAL" />
   	<result column="status" property="status" jdbcType="VARCHAR" />
   	<result column="revise_remark" property="reviseRemark" jdbcType="VARCHAR" />
    <result column="review_remark" property="reviewRemark" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="account_type_no" property="accountTypeNo" jdbcType="VARCHAR" />
    <result column="account_type_name" property="accountTypeName" jdbcType="VARCHAR" />
    
  </resultMap>
   
  <!-- 查询调整金额明细集合 -->
  <select id="getAccountReviseDetail" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	SELECT 
    mard.id, mard.account_no, mard.revise_type, mard.before_balance, mard.revise_balance, mard.status,
    mard.revise_remark, mard.review_remark, mard.create_user, DATE_FORMAT(mard.create_date,'%Y-%m-%d %H:%i:%s') create_date, 
    mard.update_user, DATE_FORMAT(mard.update_date,'%Y-%m-%d %H:%i:%s') update_date, mard.remark, mat.account_type_name
    FROM ms_account_revise_detail mard
    left join ms_account ma on ma.account_no = mard.account_no
    left join ms_account_type mat on mat.account_type_no = ma.account_type_no 
    where mard.id = #{id,jdbcType=CHAR}
  </select>
   <!-- 查询调整金额明细集合 -->
  <select id="queryAccountReviseDetailList" resultType="com.meiduimall.service.account.model.AccountReviseDetail" parameterType="com.meiduimall.service.account.model.request.RequestAccountReviseDetail" >
	SELECT
		msard.id as id,
		msard.revise_type AS reviseType,
		msm.mem_phone AS memPhone,
		msm.mem_login_name AS memLoginName,
		msard.before_balance as beforeBalance,
		msard.revise_balance as reviseBalance,
		msard.create_user as createUser,
		DATE_FORMAT(msard.create_date,'%Y-%m-%d %H:%i:%s') as createDate,
		msard.update_user as updateUser,
		msard.status as status,
		msard.revise_remark AS reviseRemark,
		msard.review_remark AS reviewRemark,
		DATE_FORMAT(msard.update_date,'%Y-%m-%d %H:%i:%s') as updateDate,
		msard.remark as remark,
		mat.`account_type_no` as accountNo,
		mat.`account_type_name` as accountTypeName
	FROM ms_account_revise_detail msard
	LEFT JOIN ms_account ma ON ma.`account_no` = msard.`account_no`
	LEFT JOIN ms_members msm ON msm.mem_id = ma.`mem_id`
	LEFT JOIN ms_account_type mat ON mat.`account_type_no` = ma.`account_type_no`
   <where>
    <if test="id !=null and id !=''">
		AND msard.id = #{id}
	  </if>
	  <if test="memId !=null and memId !=''">
		AND ma.mem_id = #{memId}
	  </if>
	  <if test="accountTypeNo !=null and accountTypeNo !=''">
		AND ma.account_type_no = #{accountTypeNo}
	  </if>
	  <if test="memLoginName !=null and memLoginName !=''">
		AND msm.mem_login_name = #{memLoginName}
	  </if>
	  <if test="memPhone !=null and memPhone !=''">
		AND msm.mem_phone = #{memPhone}
	  </if>
	  <if test="status !=null and status !=''">
		AND msard.status = #{status}
	  </if>
	  <if test="createdDateBegin !=null and createdDateBegin !=''">
		AND msard.create_date &gt;= #{createdDateBegin}
	  </if>
	  <if test="createdDateEnd !=null and createdDateEnd !=''">
		AND msard.create_date &lt;= #{createdDateEnd}
	  </if>
	  <if test="updatedDateBegin !=null and updatedDateBegin !=''">
		AND msard.update_date &gt;= #{updatedDateBegin}
	  </if>
	  <if test="updatedDateEnd !=null and updatedDateEnd !=''">
		AND msard.update_date &lt;= #{updatedDateEnd}
	 </if>
   </where>
  </select>
  
  
  <!-- 添加调整金额明细 -->
  <insert id="insertAccountReviseDetail" parameterType="com.meiduimall.service.account.model.AddOrUpdateAccountReviseDetail" >
    insert into ms_account_revise_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="reviseType != null" >
        revise_type,
      </if>
      <if test="beforeBalance != null" >
        before_balance,
      </if>
      <if test="reviseBalance != null" >
        revise_balance,
      </if>
       <if test="reviseRemark != null" >
        revise_remark,
      </if>
      <if test="reviewRemark != null" >
        review_remark,
      </if>
       <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="reviseType != null" >
        #{reviseType,jdbcType=VARCHAR},
      </if>
      <if test="beforeBalance != null" >
        #{beforeBalance,jdbcType=DECIMAL},
      </if>
      <if test="reviseBalance != null" >
        #{reviseBalance,jdbcType=DECIMAL},
      </if>
       <if test="reviseRemark != null" >
        #{reviseRemark,jdbcType=VARCHAR},
      </if>
      <if test="reviewRemark != null" >
        #{reviewRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!-- 更新调整金额    调增  调减 -->
  <update id="updateAccountReviseDetail"  parameterType="com.meiduimall.service.account.model.AddOrUpdateAccountReviseDetail" >
    update ms_account_revise_detail
    <set >
      <if test="accountNo != null and accountNo !=''" >
        account_no = #{accountNo,jdbcType=CHAR},
      </if>
      <if test="reviseType != null and reviseType !=''" >
        revise_type = #{reviseType,jdbcType=VARCHAR},
      </if>
      <if test="beforeBalance != null and beforeBalance !=''" >
        before_balance = #{beforeBalance,jdbcType=DECIMAL},
      </if>
      <if test="reviseBalance != null and reviseBalance !=''" >
        revise_balance = #{reviseBalance,jdbcType=DECIMAL},
      </if>
      <if test="reviseRemark != null and reviseRemark !=''" >
        revise_remark = #{reviseRemark,jdbcType=VARCHAR},
      </if>
      <if test="reviewRemark != null and reviewRemark !=''" >
        review_remark = #{reviewRemark,jdbcType=VARCHAR},
      </if>
       <if test="status != null  and status !=''" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null and updateUser !=''" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark !=''" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
       update_date = now()
    </set>
    <where>
      <if test="id !=null and id !=''">
		AND id=#{id}
	  </if>
    </where>
  </update>
	
</mapper>