<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 账户变动明细表ms_account_detail相关操作 -->
<mapper namespace="MSAccountDetailMapper" >

 <resultMap id="BaseResultMap" type="com.meiduimall.service.account.model.MSAccountDetail" >
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="trade_amount" jdbcType="DECIMAL" property="tradeAmount" />
    <result column="trade_date" jdbcType="TIMESTAMP" property="tradeDate" />
    <result column="in_or_out" jdbcType="INTEGER" property="inOrOut" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="business_no" jdbcType="VARCHAR" property="businessNo" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, 
    account_no, 
    trade_type,
    trade_amount, 
    trade_date, 
    in_or_out, 
    balance, 
    business_no,
    create_user,
    create_date,
    update_user,
    update_date,
    remark, 
  </sql>
  
  <!-- 插入账户变动明细 -->
  <insert id="insertAccountDetail" parameterType="com.meiduimall.service.account.model.MSAccountDetail">
		INSERT INTO ms_account_detail
		VALUES(
			#{id},
			#{accountNo},
			#{tradeType},
			#{tradeAmount},
			#{tradeDate},
			#{inOrOut},
			#{balance},
			#{businessNo},
			#{createUser},
			now(),
			#{updateUser},
			now(),
			#{remark}
			)
	</insert>
	
 <select id="getAccountDetailListByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT m.*
    FROM ms_account_detail m
    WHERE m.business_no=#{orderId}
  </select>

  <!-- 插入账户变动明细 -->
  <insert id="batchInsertAccountDetail" parameterType="java.util.List">
  		insert into ms_account_detail (
  		id, account_no, trade_type, trade_amount, trade_date, in_or_out, balance, 
    	business_no, create_user, create_date, update_user, update_date, remark) 
    	values
          <foreach collection="list" item="item" index="index"  separator=",">  
             (
			#{item.id},
			#{item.accountNo},
			#{item.tradeType},
			#{item.tradeAmount},
			#{item.tradeDate},
			#{item.inOrOut},
			#{item.balance},
			#{item.businessNo},
			#{item.createUser},
			now(),
			#{item.updateUser},
			now(),
			#{item.remark}
			)
         </foreach>  
  </insert>
  
  <select id="listMSAccountDetail" resultMap="BaseResultMap" parameterType="com.meiduimall.service.account.model.MSAccountDetailGet" >
    select 
    m.id, m.account_no accountNo, m.trade_type tradeType, m.trade_amount tradeAmount,
    DATE_FORMAT(m.trade_date,'%Y-%m-%d %H:%i:%s') tradeDate, m.in_or_out inOrOut, m.balance, m.business_no businessNo, 
    m.create_user create_user, DATE_FORMAT(m.create_date,'%Y-%m-%d %H:%i:%s') create_date, m.update_user updateUser, 
    DATE_FORMAT(m.update_date,'%Y-%m-%d %H:%i:%s') updateDate, m.remark, ma.mem_id memId
    from ms_account_detail m 
    left join ms_account ma on m.account_no = ma.account_no
    where 1 = 1
     <if test="memId !=null and memId !=''">
         	and ma.mem_id = #{memId}
     </if> 
     <if test="tradeType !=null and tradeType !=''">
	        and m.trade_type in
	          <foreach item="id" index="index" collection="tradeTypeList" open="(" separator="," close=")">  
				  #{id}  
		  	  </foreach>
     </if>
     <if test="businessNo !=null and businessNo !=''">
          and m.business_no = #{businessNo}
     </if>
  </select>
	
	<select id="listMSAccountCondition" resultType="com.meiduimall.service.account.model.MSAccountDetail" parameterType="com.meiduimall.service.account.model.MSAccountDetailCondition" >
    select 
    mad.id, mad.account_no accountNo, mad.trade_type tradeType, mad.trade_amount tradeAmount,
    DATE_FORMAT(mad.trade_date,'%Y-%m-%d %H:%i:%s') tradeDate, mad.in_or_out inOrOut, mad.balance, mad.business_no businessNo, 
    mad.create_user create_user, DATE_FORMAT(mad.create_date,'%Y-%m-%d %H:%i:%s') create_date, mad.update_user updateUser, 
    DATE_FORMAT(mad.update_date,'%Y-%m-%d %H:%i:%s') updateDate, mad.remark,
    mm.mem_login_name memLoginName, mm.mem_phone memPhone, md.dict_value bizType
    from ms_account_detail mad
    left join ms_account ma on ma.account_no = mad.account_no
    left join ms_members mm on mm.mem_id = ma.mem_id
    left join ms_dict md on  md.dict_id = mad.trade_type
    where 1 = 1
    <if test="memLoginName !=null and memLoginName !=''">
         	and mm.mem_login_name = #{memLoginName}
     </if> 
     <if test="memPhone !=null and memPhone !=''">
         	and mm.mem_phone = #{memPhone}
     </if> 
    <if test="tradeType !=null and tradeType !=''">
         	and mad.trade_type = #{tradeType}
     </if> 
     <if test="beginDate !=null and beginDate !=''">
         	and mad.create_date >= #{beginDate} 
     </if> 
      <if test="endDate !=null and endDate !=''">
         	and mad.create_date >= #{beginDate} and #{endDate} >= mad.create_date 
     </if>
  </select>
  
  <select id="selectMoneyIncome" parameterType="java.lang.String" resultType="java.lang.String" >
  	SELECT SUM(ms_account_detail.trade_amount) FROM ms_account,ms_account_detail 
	WHERE ms_account.account_no = ms_account_detail.account_no
	AND ms_account.mem_id=#{memId} 
	AND ms_account_detail.in_or_out=1
	AND (ms_account_detail.trade_type='FJJL' OR ms_account_detail.trade_type='SCJL')
  </select>
  
</mapper>