<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 会员按业务类型账户表ms_account_by_wallet_type相关操作 -->
<mapper namespace="MSAccountByWalletTypeMapper">

  <!-- 查询会员指定类型的账户信息-->
  <select id="getCwtzWalletTypeList" parameterType="java.util.Map" resultType="com.meiduimall.service.account.model.MSAccountByWalletType">
   
  </select>
  
   <!-- 插入当前会员指定类型的账户信息 -->
  <insert id="insertAccoutByWalletType" parameterType="java.util.Map" >
   
  </insert>

</mapper>