<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 会员提现主表ms_bank_withdraw_deposit相关操作 -->
<mapper namespace="MSBankWithdrawDepositMapper">
	
	<!--  写入提现申请记录ms_bank_withdraw_deposit 2017-03-24 dengbibo   -->	
	<insert id="insertBankWithdrawDeposit" parameterType="com.meiduimall.service.account.model.MSBankWithdrawDeposit">
		insert into ms_bank_withdraw_deposit
			   (id,
				business_no,
				mem_id,
				bank_account_id,
				account_idcard,
				bank_card_no,
				account_name,
				account_bank,
				account_province,
				account_city,
				account_area,
				account_sub_bank,
				apply_withdraw_amount,
				poundage_amount,
				actual_withdraw_amount,
				apply_date,
				audit_by,
				audit_date,
				status,
				audit_state,
				remark,
				create_date,
				is_delete
				)
	 	 values(#{id},
				#{businessNo},
				#{memId},
				#{bankAccountId},
				#{accountIdcard},
				#{bankCardNo},
				#{accountName},
				#{accountBank},
				#{accountProvince},
				#{accountCity},
				#{accountArea},
				#{accountSubBank},
				#{applyWithdrawAmount},
				#{poundageAmount},
				#{actualWithdrawAmount},
				#{applyDate},
				null,
				null,
				0,
				null,
				#{remark},
				#{createDate},
				#{isDelete}
			   )
	</insert>
	
	<!--  修改提现申请状态ms_bank_withdraw_deposit 2017-03-24 dengbibo   -->	
	<update id="updateBankWithdrawDeposit" parameterType="java.util.Map">
		update ms_bank_withdraw_deposit
		   set status = #{status},
		       audit_by = #{auditBy},
		       audit_date = #{auditDate},
		       audit_state = #{auditState}
		 where id = #{id}
	</update>
	
	<!--  查询提现申请记录ms_bank_withdraw_deposit 2017-03-24 dengbibo -->
	<select id="selectBankWithdrawDeposit" parameterType="java.util.Map" resultType="com.meiduimall.service.account.model.MSBankWithdrawDeposit">
		 select id as id,
				business_no as businessNo,
				mem_id as memId,
				bank_account_id as bankAccountId,
				account_idcard as accountIdcard,
				bank_card_no as bankCardNo,
				account_name as accountName,
				account_bank as accountBank,
				account_province as accountProvince,
				account_city as accountCity,
				account_area as accountArea,
				account_sub_bank as accountSubBank,
				apply_withdraw_amount as applyWithdrawAmount,
				poundage_amount as poundageAmount,
				actual_withdraw_amount as actualWithdrawAmount,
				apply_date as applyDate,
				audit_by as auditBy,
				audit_date as auditDate,
				status as status,
				audit_state as auditState,
				remark as remark,
				create_date as createDate
		  from ms_bank_withdraw_deposit
		 where mem_id = #{memId}
		 <if test="id != null and id != ''"> and id = #{id} </if>
		 <if test="businessNo != null and businessNo != ''"> and business_no = #{businessNo} </if>
		 <if test="status != null and status != ''"> and status = #{status} </if>
		 order by apply_date desc
	</select>
	
	<!--查询提现记录  -->
	<select id="listwidthdrawCondition" resultType="com.meiduimall.service.account.model.MSBankWithdrawDeposit" parameterType="com.meiduimall.service.account.model.MSAccountDetailCondition" >
    		select  a.id as id,
				a.business_no as businessNo,
				a.mem_id as memId,
				a.bank_account_id as bankAccountId,
				a.account_idcard as accountIdcard,
				a.bank_card_no as bankCardNo,
				a.account_name as accountName,
				a.account_bank as accountBank,
				a.account_province as accountProvince,
				a.account_city as accountCity,
				a.account_area as accountArea,
				a.account_sub_bank as accountSubBank,
				apply_withdraw_amount as applyWithdrawAmount,
				poundage_amount as poundageAmount,
				actual_withdraw_amount as actualWithdrawAmount,
				a.apply_date as applyDate,
				a.audit_by as auditBy,
				a.audit_date as auditDate,
				a.status as status,
				a.audit_state as auditState,
				a.remark as remark,
				a.create_date as createDate,
				b.mem_phone as phone,
				b.mem_login_name as loginName, 
				a.actual_transfer_cash as actualTransferCash,
				a.withdraw_balance as withdrawBalance /**提现时余额	*/
				from ms_bank_withdraw_deposit a 
				LEFT JOIN ms_members b on b.mem_id=a.mem_id
	   		<where>
	   		 	a.is_delete='N'
	   		 <if test="id !=null and id !=''">
		         	and a.id = #{id}
	   		 </if>
		     <if test="memLoginName !=null and memLoginName !=''">
		         	and b.mem_login_name = #{memLoginName}
		     </if> 
		     <if test="memPhone !=null and memPhone !=''">
		         	and b.mem_phone = #{memPhone}
		     </if> 	
		     <if test="businNo !=null and businNo !=''">
		         	and a.business_no like CONCAT('%',#{businNo},'%')
		     </if> 
		     <if test="status !=null and status !=''">
			        and a.status =#{status}
		     </if>
		      <if test="beginDate !=null and beginDate !=''">
			        and a.apply_date >=#{beginDate}
		     </if>
		      <if test="endDate !=null and endDate !=''">
			        and  #{endDate} >= a.apply_date
		     </if>
     	</where>
  </select>
	
	<!--修改提现记录  -->
	 <update id="updateWidthDrawDeposit"  parameterType="com.meiduimall.service.account.model.MSBankWithdrawDeposit" >
	 	 update ms_bank_withdraw_deposit 
	 	<set >
	 	  audit_date = now(),
	      <if test="status != null and status !=''" >
	        status = #{status},
	      </if>
	      <if test="actualTransferCash != null and actualTransferCash !=''" >
	        actual_transfer_cash = #{actualTransferCash},
	      </if>
	      <if test="auditBy != null and auditBy !=''" >
	        audit_by = #{auditBy},
	      </if>
	       <if test="remark != null and remark !=''" >
	        remark = #{remark},
	      </if>
      </set>
       <where>
	      <if test="id !=null and id !=''">
			AND id=#{id}
		  </if>
		  <if test="memId !=null and memId !=''">
			AND mem_id=#{memId}
		  </if>
   		 </where>
	</update>
	
	<!-- 查询提现记录ByID -->
  <select id="queryWidthDrawById" resultType="com.meiduimall.service.account.model.MSBankWithdrawDeposit" parameterType="java.util.Map" >
    select 
	    bwd.id,
	    bwd.business_no as businessNo,
	    bwd.mem_id as memId,
	    msm.mem_login_name as loginName,
	    msm.mem_phone as phone,
	    bwd.bank_account_id as bankAccountId,
	    bwd.account_idcard as accountIdcard,
	    bwd.bank_card_no as bankCardNo,
	    bwd.account_name as accountName,
	    bwd.account_bank as accountBank,
	    bwd.account_province as accountProvince,
	    bwd.account_city as accountCity,
	    bwd.account_area as accountArea,
	    bwd.account_sub_bank as accountSubBank,
	    bwd.apply_withdraw_amount as applyWithdrawAmount,
	    bwd.poundage_amount as poundageAmount,
	    bwd.actual_withdraw_amount as actualWithdrawAmount,
	    bwd.actual_transfer_cash as actualTransferCash,
	    bwd.apply_date as applyDate,
	    bwd.audit_by as auditBy,
	    bwd.audit_date as auditDate,
	    bwd.status as status,
	    bwd.audit_state as auditState,
	    bwd.create_date as createDate,
	    bwd.remark
    from ms_bank_withdraw_deposit bwd
   	LEFT JOIN  ms_members msm on (msm.mem_id=bwd.mem_id)
    where bwd.id = #{id}
  </select>
	
	<!--查询可提现的账户信息  -->
	<select id="queryAccountByMemIdList" resultType="com.meiduimall.service.account.model.MSAccount" parameterType="java.util.Map" >
    		SELECT
				msa.id as id,
				msa.account_no as accountNo ,
				msa.mem_id as memId ,
				msa.account_type_no as accountTypeNo,
				msa.account_no_sequence as accountNoSequence,
				msa.balance as balance ,
				msa.balance_encrypt as balanceEncrypt ,
				msa.freeze_balance as freezeBalance,
				msa.freeze_balance_encrypt as freezeBalanceEncrypt,
				msa.withdraw_poundage_scale as withdrawPoundageScale
			 FROM
			 ms_account  msa 
	   		<where>
	   		<if test="orderByName !=null and orderByName !=''">
	   		 		AND msa.account_status=0 AND msa.allow_withdraw=0  /**账号状态正常  并是可提现的		*/
	   		 </if> 
	   		 <if test="id !=null and id !=''">
		         	AND msa.id = #{id}
	   		 </if>
		     <if test="memId !=null and memId !=''">
		         	AND msa.mem_id = #{memId}
		     </if> 
		     <if test="accountNo !=null and accountNo !=''">
		         	AND msa.account_no = #{accountNo}
		     </if> 
     	</where>
     	 <if test="orderByName !=null and orderByName ==1">
		        ORDER BY msa.withdraw_priority DESC  	/**优先级排序  1表示提现扣款  2表示驳回倒序退		*/  
		 </if> 
		 <if test="orderByName !=null and orderByName ==2">
		        ORDER BY msa.withdraw_priority ASC  	
		 </if> 
  </select>
  
  <!-- 根据会员ID和账户类型修改余额账户冻结金额 -->
	<update id="updateFreezeBalanceByMemId" parameterType="java.util.Map">
		UPDATE ms_account
		SET freeze_balance =freeze_balance + #{freezeBalance},update_date = now()
		<where>
		  <if test="id !=null and id !=''">
		        and id = #{id}
	   	</if>
	   	<if test="accountNo !=null and accountNo !=''">
		        and account_no = #{accountNo}
	   	</if>
		</where>
	</update>
	
	 <!-- 根据会员ID和账户类型修改余额账户金额 -->
	<update id="updateAccountBalance" parameterType="java.util.Map">
		UPDATE ms_account
		SET balance =#{balance},update_date = now()
		<where>
		  <if test="id !=null and id !=''">
		        and id = #{id}
	   	</if>
	   	<if test="accountNo !=null and accountNo !=''">
		        and account_no = #{accountNo}
	   	</if>
		</where>
	</update>
	
  <!-- 修改总的账号冻结金额-->
	<update id="updateAccountReportByMemId" parameterType="java.util.Map">
		UPDATE ms_account_report
		SET freeze_balance =freeze_balance + #{freezeBalance},update_date = now()
		WHERE mem_id = #{memId}
	</update>
	
	 <!-- 修改总的账号金额-->
	<update id="updateAccountReportBalanceByMemId" parameterType="java.util.Map">
		UPDATE ms_account_report
		SET balance =balance + #{balance},update_date = now()
		WHERE mem_id = #{memId}
	</update>
	
	<!--  写入提现申请记录ms_withdraw_info_by_account_type    -->	
	<insert id="insertWithDrawInfoByAccountType" parameterType="java.util.Map">
		insert into ms_withdraw_info_by_account_type
			   (id,
				master_id,
				account_no,
				withdraw_amount,
				withdraw_balance,
				apply_date,
				create_date,
				create_user,
				update_date,
				update_user,
				remark
				)
	 	 values(#{id},
				#{masterId},
				#{accountNo},
				#{withdrawAmount},
				#{withdrawBalance},
				#{applyDate},
				#{createDate},
				null,
				#{createDate},
				null,
				null
			   )
	</insert>
	
	
	<!--查询会员按账户类型提现表  -->
	<select id="queryWithdrawInfoByAccountTypeList" resultType="com.meiduimall.service.account.model.MSWithdrawInfoByAccountType" parameterType="java.util.Map" >
    			SELECT
				msa.id as id,
				msa.master_id as master_id ,
				msa.account_no as account_no ,
				msa.withdraw_amount as withdrawAmount,
				msa.withdraw_balance as withdrawBalance,
				msa.apply_date as applyDate 
			 FROM
			 ms_withdraw_info_by_account_type  msa 
	   		<where>
	   		 <if test="id !=null and id !=''">
		         	and msa.master_id = #{id}
	   		 </if>
     	</where>
  </select>
  
</mapper>