<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 会员积分冻结解冻明细表ms_consume_points_freeze_info相关操作 -->
<mapper namespace="MSConsumePointsFreezeInfoMapper">

	<!-- 根据会员ID查询当前冻结解冻积分的总和 -->
	<select id="getFreezeUnFreezePointsSumByMemId" parameterType="java.lang.String" resultType="java.lang.Double">
		SELECT 
		SUM(mcpf_consume_points)
		FROM ms_consume_points_freeze_info 
		WHERE mem_id = #{memId} 
		GROUP BY mem_id
	</select>
	
	<!-- 根据订单号查询积分冻结解冻记录 --> 
	<select id="getRecordsByOrderId" parameterType="java.lang.String" resultType="com.meiduimall.service.account.model.MSConsumePointsFreezeInfo">
		SELECT  
		m.mcpf_id mcpfId,
		m.mem_id memId, 
		m.mcpf_order_id mcpfOrderId,
        m.mcpf_freeze_type mcpfFreezeType,
        m.mcpf_consume_points mcpfConsumePoints,
        m.mcpf_consume_points_balance mcpfConsumePointsBalance, 
        m.mcpf_created_by mcpfCreatedBy,
        m.mcpf_created_date mcpfCreatedDate, 
        m.mcpf_updated_By mcpfUpdatedBy,
        m.mcpf_updated_date mcpfUpdatedDate, 
        m.mcpf_remark mcpfRemark
		FROM ms_consume_points_freeze_info m
		WHERE m.mcpf_order_id = #{orderId}
	</select>
	
	<!-- 写入积分冻结解冻记录 -->
	<insert id="insertConsumePointsFreezeInfo" parameterType="com.meiduimall.service.account.model.MSConsumePointsFreezeInfo">
		INSERT INTO ms_consume_points_freeze_info
		VALUES(
			#{mcpfId},
			#{memId},
			#{mcpfOrderId},
			#{mcpfFreezeType},
			#{mcpfConsumePoints},
			#{mcpfConsumePointsBalance},
			#{mcpfCreatedBy},
			now(),
			#{mcpfUpdatedBy},
			now(),
			#{mcpfRemark}
			)
	</insert> 
	
</mapper>