<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 积分变动明细表ms_consume_points_detail相关操作 -->
<mapper namespace="MSConsumePointsDetailMapper">

	<!-- 插入积分变动明细 -->
	<insert id="insertAccountPointDetail" parameterType="java.util.Map">
		insert into ms_consume_points_detail
		values(
			#{id},
			#{memId},
			#{orderId},
			#{orderSource},
			#{operatorType},
			#{inConsumePoints},
			#{outConsumePoints},
			#{balancePoints},
			#{operator},
			now(),
			#{operator},
			now(),
			#{remark}
			)
	</insert>
	
	
	
</mapper>