<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MSMembersMapper">
	
	<!-- 根据会员id获取会员信息 -->
	<select id="getMemberInfo" parameterType="java.lang.String" resultType="com.meiduimall.service.account.model.MSMembers">
		SELECT * FROM v_ms_members WHERE memId = #{memId}
	</select>

	<select id="selectCountByMemId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ms_members WHERE mem_id=#{memId}
	</select>
	
	<select id="selectMemIdByPhone" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT mem_id FROM ms_members WHERE mem_phone=#{phone}
	</select>
	
	<select id="getQuantityByMemId" parameterType="java.lang.String" resultType="com.meiduimall.service.account.model.MSMembers">
		SELECT 
		mem_parent_value2 AS memParentValue2,
		mem_basic_account_total_quantity AS memBasicAccountTotalQuantity
		FROM ms_members WHERE mem_id = #{memId}
	</select>

</mapper>