<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MSRechargeApplyMapper">
	
	<insert id="insertRechargeApply" parameterType="com.meiduimall.service.account.model.MSBankWithdrawDeposit">
		insert into ms_external_recharge
			   (id,
				md_user,
				client_id,
				biz_id,
				recharge_amout,
				req_time,
				callback_url,
				recharge_type
				)
	 	 values(
	 	        #{id},
				#{mdUser},
				#{clientId},
				#{bizId},
				#{rechargeAmout},
				#{reqTime},
				#{callbackUrl},
				#{rechargeType}
			   )
	</insert>
	<select id="queryExternalList" parameterType="com.meiduimall.service.account.model.MSRechargeApply" resultType="com.meiduimall.service.account.model.MSRechargeApply">
		select 
			mer.id AS id,
			mer.md_user AS mdUser,
			mer.client_id AS clientId,
			mer.biz_id AS bizId,
			mer.recharge_amout AS rechargeAmout,
			mer.req_time AS reqTime,
			mer.callback_url AS callbackUrl,
			mer.recharge_type AS rechargeType
		from 
			ms_external_recharge mer
	</select>
</mapper>