<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MSWalletTypeMapper">
 
  <!-- 查询钱包类型  -->
  <select id="listWalletType" resultType="MSWalletType">
    select 
    id, wallet_name walletName, wallet_no walletNo, allow_withdraw allowWithdraw, need_poundage needPoundage, allow_refund allowRefund, 
    poundage_scale poundageScale, account_type accountType, withdraw_level withdrawLevel, spend_level spendLevel, create_date createDate,
    update_date updateDate, update_man updateMan, remark
    from ms_wallet_type
  </select>
   
</mapper>