<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiduimall.service.search.mapper.IndexLogMapper">
	<resultMap type="com.meiduimall.service.search.entity.IndexLog" id="IndexLogResultMap">
		<id column="log_id" property="logId"/>
		<result column="remark" property="remark"/>
		<result column="log_time" property="logTime"/>
	</resultMap>
	
  <select id="queryIndexLogs" parameterType="com.meiduimall.service.search.page.PageView" resultMap="IndexLogResultMap">
		SELECT * FROM sysitem_search_index_log ORDER BY log_time DESC
		<if test="pageSize!=null and pageSize!=''">
			LIMIT #{offset},#{pageSize}
	  </if>
   </select>
   <select id="queryIndexLogCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM sysitem_search_index_log
   </select>
   <select id="queryIndexLogById" parameterType="java.lang.Integer" resultMap="IndexLogResultMap">
		SELECT * FROM sysitem_search_index_log WHERE log_id=#{logId}
   </select>
   <insert id="insertIndexLog" parameterType="com.meiduimall.service.search.entity.IndexLog">
   	INSERT INTO sysitem_search_index_log(remark, log_time) VALUES(#{remark}, #{logTime})
   </insert>
   <update id="updateIndexLog" parameterType="com.meiduimall.service.search.entity.IndexLog">
   	UPDATE sysitem_search_index_log
   	<set>
   		<if test="remark != null and remark != ''">
   			remark = #{remark},
   		</if>
   		<if test="logTime != null and logTime != ''">
   			log_time = #{logTime}
   		</if>
   	</set>
   	WHERE log_id = #{logId}
   </update>
   <delete id="deleteIndexLogById" parameterType="java.lang.Integer">
   	DELETE FROM sysitem_search_index_log WHERE log_id = #{logId}
   </delete>
</mapper>