<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiduimall.service.search.mapper.PropMapper">
	<resultMap type="com.meiduimall.service.search.entity.Props" id="PropResultMap">
		<id column="prop_id" property="propId"/>
		<result column="prop_name" property="propName"/>
		<result column="prop_value_id" property="propValueId"/>
		<result column="prop_value" property="propValue"/>
	</resultMap>
	
    <select id="queryProps" resultMap="PropResultMap">
		SELECT sp.`prop_id`, sp.`prop_name`, spv.`prop_value_id`, spv.`prop_value` 
		FROM syscategory_props sp LEFT JOIN syscategory_prop_values spv ON sp.`prop_id`=spv.`prop_id`
    </select>
    
    <select id="queryPropById" parameterType="java.lang.Integer" resultMap="PropResultMap">
    	SELECT sp.`prop_id`, sp.`prop_name`, spv.`prop_value_id`, spv.`prop_value` 
		FROM syscategory_props sp LEFT JOIN syscategory_prop_values spv ON sp.`prop_id`=spv.`prop_id`
		WHERE (1) AND spv.prop_value_id = #{id}
    </select>
    
</mapper>