<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meiduimall.service.sms.mapper.SendWeixinMsgHistoryMapper">

	<resultMap id="BaseResultMap"
		type="com.meiduimall.service.sms.entity.SendWeixinMsgHistory">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="client_id" property="clientId" jdbcType="VARCHAR" />
		<result column="mem_id" property="memId" jdbcType="VARCHAR" />
		<result column="mem_phone" property="memPhone" jdbcType="VARCHAR" />
		<result column="wx_open_id" property="wxOpenId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="ResultMapWithBLOBs"
		type="com.meiduimall.service.sms.entity.SendWeixinMsgHistory" extends="BaseResultMap">
		<result column="send_content" property="sendContent" jdbcType="LONGVARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, client_id, mem_id, mem_phone, wx_open_id, user_name, send_time
	</sql>

	<sql id="Blob_Column_List">
		send_content
	</sql>

	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from send_weixin_msg_history
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from send_weixin_msg_history
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert"
		parameterType="com.meiduimall.service.sms.entity.SendWeixinMsgHistory">
		insert into send_weixin_msg_history (id, client_id, mem_id,
		mem_phone, wx_open_id, user_name,
		send_time, send_content)
		values (#{id,jdbcType=INTEGER}, #{clientId,jdbcType=VARCHAR},
		#{memId,jdbcType=VARCHAR},
		#{memPhone,jdbcType=VARCHAR}, #{wxOpenId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
		#{sendTime,jdbcType=TIMESTAMP}, #{sendContent,jdbcType=LONGVARCHAR})
	</insert>

	<insert id="insertSelective"
		parameterType="com.meiduimall.service.sms.entity.SendWeixinMsgHistory">
		insert into send_weixin_msg_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="clientId != null">
				client_id,
			</if>
			<if test="memId != null">
				mem_id,
			</if>
			<if test="memPhone != null">
				mem_phone,
			</if>
			<if test="wxOpenId != null">
				wx_open_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="sendTime != null">
				send_time,
			</if>
			<if test="sendContent != null">
				send_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="clientId != null">
				#{clientId,jdbcType=VARCHAR},
			</if>
			<if test="memId != null">
				#{memId,jdbcType=VARCHAR},
			</if>
			<if test="memPhone != null">
				#{memPhone,jdbcType=VARCHAR},
			</if>
			<if test="wxOpenId != null">
				#{wxOpenId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="sendTime != null">
				#{sendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sendContent != null">
				#{sendContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective"
		parameterType="com.meiduimall.service.sms.entity.SendWeixinMsgHistory">
		update send_weixin_msg_history
		<set>
			<if test="clientId != null">
				client_id = #{clientId,jdbcType=VARCHAR},
			</if>
			<if test="memId != null">
				mem_id = #{memId,jdbcType=VARCHAR},
			</if>
			<if test="memPhone != null">
				mem_phone = #{memPhone,jdbcType=VARCHAR},
			</if>
			<if test="wxOpenId != null">
				wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="sendTime != null">
				send_time = #{sendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sendContent != null">
				send_content = #{sendContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKeyWithBLOBs"
		parameterType="com.meiduimall.service.sms.entity.SendWeixinMsgHistory">
		update send_weixin_msg_history
		set client_id = #{clientId,jdbcType=VARCHAR},
		mem_id = #{memId,jdbcType=VARCHAR},
		mem_phone = #{memPhone,jdbcType=VARCHAR},
		wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
		user_name = #{userName,jdbcType=VARCHAR},
		send_time = #{sendTime,jdbcType=TIMESTAMP},
		send_content = #{sendContent,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey"
		parameterType="com.meiduimall.service.sms.entity.SendWeixinMsgHistory">
		update send_weixin_msg_history
		set client_id = #{clientId,jdbcType=VARCHAR},
		mem_id = #{memId,jdbcType=VARCHAR},
		mem_phone = #{memPhone,jdbcType=VARCHAR},
		wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
		user_name = #{userName,jdbcType=VARCHAR},
		send_time = #{sendTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>