<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--省市区地址表ms_city相关操作 -->
<mapper namespace="MSCityMapper">

<!--根据cityid查询对应的地址信息-->
	<select id="getAddressByCityId"  parameterType="java.lang.String" resultType="java.lang.String">
	select m.`city_name` from ms_city  m where m.`city_no`=#{cityid}
	</select>
	
	<!-- 根据城市名称获取城市编码 -->
	<select id="getCityIdByAddressName" parameterType="String" resultType="String">
		SELECT t.city_no FROM ms_city t WHERE t.city_name = #{cityName}
	</select>
	
</mapper>