<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--系统字典表ms_dict相关操作 -->
<mapper namespace="MSMembersPaypwdMapper">
	<!-- 根据会员ID及密码验证该密码是否一致 -->
	<select id="getPaypwdByMemIdAndPaypwd" parameterType="com.meiduimall.model.MSMembersPaypwd" resultType="com.meiduimall.model.MSMembersPaypwd">
		SELECT t.mem_id AS memId, t.pwd, t.md5_pwd AS md5Pwd, t.enable, t.update_date AS updateDate 
		FROM ms_members_paypwd t 
		WHERE 1=1
		AND t.mem_id = #{memId} 
		<if test="pwd != null and pwd != ''">AND t.pwd = #{pwd}</if>
		<if test="md5Pwd != null and md5Pwd != ''">AND t.md5_pwd = #{md5Pwd}</if>
	</select>
	
	<!-- 根据会员ID设置支付密码(不存在) -->
	<insert id="insertPaypwd" parameterType="com.meiduimall.model.MSMembersPaypwd">
		INSERT INTO ms_members_paypwd 
		(
		  mem_id
		  <if test="pwd != null and pwd != ''">,pwd</if>
		  ,md5_pwd
		  ,update_date
		) VALUES (
		  #{memId}
		  <if test="pwd != null and pwd != ''">,#{pwd}</if>
		  ,#{md5Pwd}
		  ,#{updateDate}
		)
	</insert>
	
	<!-- 根据会员ID设置支付密码(已存在) -->
	<update id="updatePaypwdByMemId" parameterType="com.meiduimall.model.MSMembersPaypwd">
		UPDATE ms_members_paypwd 
		SET md5_pwd = #{md5Pwd}
		<if test="updateDate != null">, update_date = #{updateDate}</if>
		WHERE mem_id = #{memId} 
	</update>
	
	<!-- 根据会员ID查询支付密码操作记录 -->
	<select id="getOperatePaypwdRecord" parameterType="String" resultType="com.meiduimall.model.MSMembersPaypwdRecord">
		SELECT t.mem_id AS memId, t.update_pwd1 AS updatePwd1, t.update_pwd2 AS updatePwd2, t.update_pwd3 AS updatePwd3, t.update_pwd4 AS updatePwd4, t.update_pwd5 AS updatePwd5, t.update_index AS updateIndex, t.update_date AS updateDate
		FROM ms_members_paypwd_record t 
		WHERE t.mem_id = #{memId}
	</select>
	
	<!-- 新增修改密码记录信息 -->
	<insert id="insertPaypwdRecord" parameterType="com.meiduimall.model.MSMembersPaypwdRecord">
		INSERT INTO ms_members_paypwd_record (
		  mem_id
		  <if test="updatePwd1 != null and updatePwd1 != ''">,update_pwd1</if>
		  <if test="updatePwd2 != null and updatePwd2 != ''">,update_pwd2</if>
		  <if test="updatePwd3 != null and updatePwd3 != ''">,update_pwd3</if>
		  <if test="updatePwd4 != null and updatePwd4 != ''">,update_pwd4</if>
		  <if test="updatePwd5 != null and updatePwd5 != ''">,update_pwd5</if>
		  ,update_index
		  ,update_date
		) VALUES (
		  #{memId}
		  <if test="updatePwd1 != null and updatePwd1 != ''">,#{updatePwd1}</if>
		  <if test="updatePwd2 != null and updatePwd2 != ''">,#{updatePwd2}</if>
		  <if test="updatePwd3 != null and updatePwd3 != ''">,#{updatePwd3}</if>
		  <if test="updatePwd4 != null and updatePwd4 != ''">,#{updatePwd4}</if>
		  <if test="updatePwd5 != null and updatePwd5 != ''">,#{updatePwd5}</if>
		  ,#{updateIndex}
		  ,#{updateDate}
		  )
	</insert>
	
	<!-- 更新修改密码记录信息 -->
	<update id="updatePaypwdRecordByMemId" parameterType="com.meiduimall.model.MSMembersPaypwd">
		UPDATE ms_members_paypwd_record SET
		  update_index = #{updateIndex}
		  ,update_date = #{updateDate}
		  <if test="updatePwd1 != null and updatePwd1 != ''">,update_pwd1 = #{updatePwd1}</if>
		  <if test="updatePwd2 != null and updatePwd2 != ''">,update_pwd2 = #{updatePwd2}</if>
		  <if test="updatePwd3 != null and updatePwd3 != ''">,update_pwd3 = #{updatePwd3}</if>
		  <if test="updatePwd4 != null and updatePwd4 != ''">,update_pwd4 = #{updatePwd4}</if>
		  <if test="updatePwd5 != null and updatePwd5 != ''">,update_pwd5 = #{updatePwd5}</if>
		WHERE mem_id = #{memId}
	</update>
	
</mapper>