/* CSS Document By Aring QQ:838278506 http://www.divsz.com/ */
@import url("all.css");
/**** main ****/
body{ height:1080px; background:url(images/log.jpg) no-repeat center 0;}
.wrap{ width:100%; min-width:1200px;}
.log_t{ text-align:center; padding:48px 0 204px;}
.log_c{ height:484px; background:url(images/log_c.png) no-repeat center 0;}
.log_b{ width:994px; height:324px; margin:0 auto; background:#ffffff;}
.log_b .log_l{ float:left; width:644px; height:324px;}
.log_b .log_r{ float:left; width:300px; height:324px; padding:0 25px;}
.log_p{ float:left; width:260px; height:28px; font-size:12px; color:#f15353; line-height:28px; border:1px solid #f15353; padding-left:38px; margin:16px 0; display:inline; background:#fde5e5 url(images/log_p.png) no-repeat 8px center;}
.log_r h4{ float:left; width:298px; height:38px; line-height:38px; border:1px solid #dadada; border-radius:20px; margin-bottom:16px; display:inline; background:#f5f5f5 url(images/line.jpg) no-repeat 60px center;}
.log_r h4 img{ float:left; width:22px; height:22px; vertical-align:middle; margin:8px 40px 8px 20px; display:inline;}
.log_r h4 input{ float:left; width:200px; height:38px; font-size:15px; color:#9c9c9c; line-height:38px; border:none; background:none;}
.log_r dl{ float:left; width:300px; height:40px;}
.log_r dt{ float:left; width:160px;}
.log_r dd{ float:right;width:120px;}
.log_r dt input{ width:158px; height:38px; font-size:14px; color:#9c9c9c; text-align:center; line-height:38px; border:1px solid #dadada; border-radius:20px; background:#f5f5f5;}
.log_r dd img{ width:120px; height:40px;}
.log_pwd{ float:left; width:284px; height:50px; color:#9c9c9c; line-height:50px; margin:0 8px; display:inline;}
.log_pwd h6{ float:left;}
.log_pwd p{ float:right;}
.log_pwd input{ width:16px; height:16px; vertical-align:middle; margin-right:6px;}
.log_pwd a{ color:#9c9c9c;}
.log_pwd a:hover{ color:#c30d18;}
.log_r h5{ float:left; width:300px; height:42px;}
.log_r h5 input{ width:300px; height:42px; font-size:18px; color:#ffffff; letter-spacing:6px; border:none; border-radius:20px; background:#c30d18; cursor:pointer;}
.log_f{ font-size:12px; color:#666666; text-align:center; line-height:50px; background:rgba(255,255,255,0.3);}

