<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 更根据手机号前6位得到归属地信息表  -->
<mapper namespace="MSMemberIntegralMapper">

  <!--  更新退单标识  -->
  <update id="cancelOrder" parameterType="">
       update ms_member_integral 
       set mint_cancel_order_flag = 1 
       where mem_id = #{memId} and sah_begin &lt; #{preTime}
  </update>
 
	
	 
	
</mapper>