.Wdate{
	border:#999 1px solid;
	height:32px;
	width: 185px;
	/* margin-top: 10px; */
	background:#fff url(datePicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}