<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SysuserWalletPaylogMapper" >
  <resultMap id="BaseResultMap" type="com.meiduimall.application.mall.pay.model.SysuserWalletPaylog" >
    <id column="Wpid" property="wpid" jdbcType="INTEGER" />
    <result column="Wpno" property="wpno" jdbcType="VARCHAR" />
    <result column="Uid" property="uid" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="vor_money" property="vorMoney" jdbcType="DECIMAL" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="Wptime" property="wptime" jdbcType="VARCHAR" />
    <result column="af_money" property="afMoney" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    Wpid, Wpno, Uid, login_name, order_no, vor_money, money, Wptime, af_money
  </sql>
   
  <update id="updateUsersWalletPay" parameterType="com.meiduimall.application.mall.pay.model.SysuserWalletPaylog" >
    update sysuser_wallet_paylog
    <set >
      <if test="wpno != null" >
        Wpno = #{wpno,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        Uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="vorMoney != null" >
        vor_money = #{vorMoney,jdbcType=DECIMAL},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="wptime != null" >
        Wptime = #{wptime,jdbcType=VARCHAR},
      </if>
      <if test="afMoney != null" >
        af_money = #{afMoney,jdbcType=DECIMAL},
      </if>
    </set>
    where Wpid = #{wpid,jdbcType=INTEGER}
  </update>
</mapper>