/* CSS Document By Aring QQ:838278506 http://www.divsz.com/ */
@import url("all.css");
/**** main ****/

.wrap{ width:100%; min-width:1200px; background:url(images/bg.jpg) no-repeat center bottom; background-size:100% auto;}
.head{ border-bottom:1px solid #d7d7d7; box-shadow:0 0 5px #bcbcbc; margin-bottom:18px; background:url(images/head.jpg) no-repeat center 0; background-size:100% 90px;}
.head_c{ width:100%; height:90px; background:url(images/head_r.png) no-repeat right 0; display:table;}
.head_c h1{ display:table-cell; *float:left; width:180px; height:65px; padding:25px 0 0 32px;}
.head_c .head_r{ display:table-cell; *float:left; height:90px; vertical-align:top; padding-right:100px;}
.head_r ul{ width:80%; height:90px; margin:0 auto;}
.head_r li{ float:left; width:25%;}
.head_r li a{ display:block; width:128px; height:48px; font-size:18px; color:#3c3333; text-align:center; line-height:48px; padding-top:40px; margin:0 auto;}
.head_r li a:hover,.head_r li.hover a{ color:#c30d18; border-bottom:2px solid #c30d18;}
.head_r li a img{ width:32px; height:28px; vertical-align:middle; margin:0 10px 2px 0; -webkit-filter:grayscale(95%); -moz-filter:grayscale(95%); -ms-filter:grayscale(95%); -o-filter:grayscale(95%); filter:grayscale(95%); filter:gray;}
.head_r li a:hover img,.head_r li.hover a img{ -webkit-filter:grayscale(0); -moz-filter:grayscale(0); -ms-filter:grayscale(0); -o-filter:grayscale(0); filter:grayscale(0); filter:none;}
.foot{ font-size:12px; color:#000000; text-align:center; line-height:32px; padding:20px 0;}
.foot a{ color:#000000;}
.foot a:hover{ color:#c30d18;}
.foot h3 a{ padding:0 6px; margin:0 3px;}
.main{ width:100%; height:852px; display:table; position:relative;}
.main .main_l{ display:table-cell; *float:left; width:212px; height:852px;}
.main .main_r{ *float:left; height:850px; vertical-align:top; border:1px solid #d7d7d7; background:#ffffff;}
.turn{ width:10px; height:38px; margin-top:-19px; background:#909090 url(images/dot_l.png) no-repeat center center; position:absolute; left:191px; top:50%; cursor:pointer; z-index:10;}
.open{ background:#909090 url(images/dot_r.png) no-repeat center center; left:1px;}
.l_cont{ width:200px; height:850px; border:1px solid #d7d7d7; background:#ffffff;}
.l_cont h3{ font-size:24px; color:#c30d18; text-align:center; line-height:50px; padding-top:12px;}
.l_cont h4{ font-size:16px; color:#909090; text-align:center; line-height:40px;}
.l_cont h5{ font-size:14px; color:#909090; text-align:center; line-height:48px; padding-bottom:16px;}
.l_cont h5 a{ color:#909090; text-decoration:underline; margin:0 18px;}
.l_cont h5 a:hover{ color:#c30d18;}
.sub{ border-top:1px solid #e5e5e5;}
.sub li{ height:38px; line-height:38px; border-bottom:1px solid #e5e5e5;}
.sub li a{ display:block; width:168px; height:38px; color:#909090; padding-left:26px; border-left:6px solid #ffffff;}
.sub li a:hover,.sub li.cur a{ color:#ec5d66; border-left:6px solid #ec5d66;}
.sub li a img{ width:20px; height:20px; vertical-align:middle; margin:0 18px 2px 0; -webkit-filter:grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%); -o-filter:grayscale(100%); filter:grayscale(100%); filter:gray;}
.sub li a:hover img,.sub li.cur a img{ -webkit-filter:grayscale(0); -moz-filter:grayscale(0); -ms-filter:grayscale(0); -o-filter:grayscale(0); filter:grayscale(0); filter:none;}
.type{ height:36px; font-size:12px; color:#909090; line-height:36px; border-bottom:1px solid #dadada; padding-left:20px;}
.type a{ color:#909090;}
.type a:hover{ color:#ec5d66;}
.sort{ height:37px;}
.sort li{ float:left; width:106px; height:35px; font-size:15px; color:#666666; text-align:center; line-height:35px; cursor:pointer;}
.sort li.hover{ color:#ec5d66; border-bottom:2px solid #ec5d66;}
.order{ display:none; padding:0 20px;}
#sort_1{ display:block;}
.order_t{ height:22px; font-size:12px; color:#464646; padding:10px 0;}
.order_t dt{ float:left;}
.order_t dd{ float:right;}
.order_t input.btn{ height:22px; font-size:14px; color:#ffffff; vertical-align:middle; border:1px solid #c30d18; border-radius:3px; margin-bottom:2px; background:#c30d18; cursor:pointer;}
.order_t input.btn_a{ width:52px;}
.order_t input.btn_b{ width:68px;}
.order_t input.txt{ height:20px; font-size:12px; color:#ec5d66; line-height:20px; border:1px solid #c30d18; padding-left:6px; background:#ffffff;}
.order_t input.txt_date{ width:132px; color:#ec5d66; background:url(images/date.png) no-repeat right center;}
.order_t select.sel{ height:22px; font-size:12px; color:#ec5d66; vertical-align:middle; border:1px solid #c30d18; margin-bottom:2px; background:#ffffff; cursor:pointer;}
.order_t select.sel_a{ width:132px;}
.order_t select.sel_a option{ padding-left:3px;}
.page{ height:24px; font-size:12px; line-height:24px;}
.page dt{ float:left;}
.page dd{ float:right;}
.page select.sel_page{ width:60px; height:22px; font-size:12px; color:#464646; border:1px solid #666666; cursor:pointer;}
.page a{ font-size:11px; color:#464646; line-height:16px; border:1px solid #dadada; padding:0 6px; margin:0 2px;}
.page a:hover,.page a.cur{ color:#ffffff; border:1px solid #c30d18; background:#c30d18;}
.page input.txt{ width:20px; height:16px; font-size:11px; color:#464646; text-align:center; line-height:16px; border:1px solid #dadada;}
.page input.btn{ width:32px; height:18px; font-size:11px; color:#ffffff; line-height:16px; border:none; background:#c30d18; cursor:pointer;}
.order_c{ height:660px; font-size:12px; margin-bottom:20px; overflow-x:hidden;}
.order_c tr{ background:#fafafa;}
.order_c tr.even{ background:#efefef;}
.order_c td{ text-align:center; line-height:32px;}
.order_c td span{ color:#ec5d66;}
.data{ display:none; width:700px; margin:0 auto;}
#deal_1{ display:block;}
.data th{ text-align:right; line-height:52px; padding-right:12px;}
.data input.txt{ width:210px; height:30px; font-size:14px; color:#464646; line-height:30px; border:1px solid #aaaaaa; padding-left:8px;}
.data textarea{ width:215px; height:100px; font-family:"微软雅黑"; font-size:14px; color:#464646; line-height:20px; border:1px solid #aaaaaa; padding-left:3px; margin:10px 0;}
.data h4{ height:30px; padding:30px 110px;}
.data h4 input{ float:left; width:102px; height:30px; font-size:16px; color:#ffffff; font-weight:bold; border:none; border-radius:3px; margin:0 20px; display:inline; background:#ec5d66; cursor:pointer;}
.data h5{ height:30px; padding:30px 180px;}
.data h5 input{ width:102px; height:30px; font-size:16px; color:#ffffff; font-weight:bold; border:none; border-radius:3px; background:#ec5d66; cursor:pointer;}
.sale{ padding:0 20px;}
.sale_t{ height:22px; font-size:12px; color:#464646; padding:10px 0;}
.sale_t dt{ float:left;}
.sale_t dd{ float:right;}
.sale_t dt input.btn{ height:22px; font-size:14px; color:#ffffff; vertical-align:middle; border:1px solid #c30d18; border-radius:3px; margin-bottom:2px; background:#c30d18; cursor:pointer;}
.sale_t dt input.btn_a{ width:52px;}
.sale_t dt input.btn_b{ width:68px;}
.sale_t dt input.txt{ height:20px; font-size:12px; color:#ec5d66; line-height:20px; border:1px solid #c30d18; padding-left:6px; background:#ffffff;}
.sale_t dt input.txt_date{ width:132px; color:#ec5d66; background:url(images/date.png) no-repeat right center;}
.sale_t dd select{ width:84px; height:22px; font-size:12px; color:#ffffff; vertical-align:middle; border:1px solid #c30d18; padding-left:3px; margin-bottom:2px; background:#c30d18; cursor:pointer;}
.sale_t dd option{ padding-left:6px;}
.sale_t dd span{ display:inline-block; width:180px; height:20px; border:1px solid #c30d18; margin-left:4px;}
.sale_t dd span input.txt{ width:150px; height:20px; font-size:12px; color:#ec5d66; line-height:20px; border:none; padding-left:6px;}
.sale_t dd span input.btn{ width:24px; height:20px; border:none; background:url(images/find.png) no-repeat center center; cursor:pointer;}
.sale_c{ height:697px; font-size:12px; margin-bottom:20px; overflow-x:hidden;}
.sale_c tr{ background:#fafafa;}
.sale_c tr.even{ background:#efefef;}
.sale_c td{ text-align:center; line-height:32px;}
.sale_c td span{ color:#ec5d66;}
.sale_c td input.cb{ vertical-align:middle; margin-bottom:2px;}
