<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.mapper.ScannerMapper">
	<resultMap type="com.first.pojo.Scanner" id="ScannerResultMap">
		<id column="scan_id" property="scanId"/>
		<result column="table_name" property="tableName"/>
		<result column="update_id" property="updateId"/>
		<result column="operate_type" property="operateType"/>
		<result column="modify_time" property="modifyTime"/>
	</resultMap>
	
	<sql id="scanList">
		scan_id, table_name, update_id, operate_type, modify_time
	</sql>
	
   <select id="queryScanners" parameterType="com.first.page.PageView" resultMap="ScannerResultMap">
		SELECT
		 <include refid="scanList" />
		FROM sysitem_scanner
		<if test="pageSize!=null and pageSize!=''">
		LIMIT #{offset},#{pageSize}
		</if>
   </select>
   <select id="queryScannerById" parameterType="java.lang.Integer" resultMap="ScannerResultMap">
		SELECT
		 <include refid="scanList" />
		FROM sysitem_scanner
		WHERE scan_id=#{id}
   </select>
   
   <select id="queryScannerCount" resultType="java.lang.Long">
   	SELECT COUNT(*) FROM sysitem_scanner
   </select>
   
   <delete id="deleteScanned" parameterType="java.util.List">
    <![CDATA[ DELETE FROM sysitem_scanner WHERE scan_id IN ]]>
    <foreach collection="list" item = "item" open="(" separator="," close=")">
		#{item}
    </foreach>
   </delete>
</mapper>