<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiduimall.application.search.manage.IDao.MeiduiPointMapper">
	<resultMap type="com.meiduimall.application.search.manage.pojo.MeiduiPoint" id="MeiduiPointResultMap">
		<id column="app" property="app"/>
		<id column="key" property="key"/>
		<result column="value" property="value"/>
	</resultMap>
	
  <select id="queryMeiduiPoint" resultMap="MeiduiPointResultMap">
	SELECT b.app, b.key, b.value FROM base_setting b WHERE b.app = 'system' AND b.key = 'shop_meidui_point'
  </select>
</mapper>